body{
  background-color:lightyellow;
  text-align:center;
}
button{
  width:200px;
  height:40px;
  font-size:30px;
  margin-bottom:10px;
  color:white;
  background-color:brown;
  border-radius:0px;
  border-width:0px;
  
}
button:active{
  width:200px;
  height:40px;
  font-size:30px;
  margin-bottom:60px;
  
  background-color:rgb(176, 88, 7);
  border-radius:0px;
  border-width:0px;
  
}
#display{
  width:200px;
  height:200px;
  
}